@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto';
}

.flex-container{
    margin: 1rem;
    padding: 1rem;
    background-color: #d1d1d1;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .flex-container{
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        text-align: center;
    }
    
}

.flex-item{
    font-size: 2rem;
    font-weight: 800;
    background-color: greenyellow;
    margin:1.5rem;
    padding: 4rem;
    border: solid red;
}

@media screen and (max-width: 760px) {
    .flex-item{
        font-size: 1.5rem;
        padding: 4rem;
        margin:1rem;
    }
}