@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto';
}

.flex-container{
    margin: 1rem;
    padding: 1rem;
    background-color: #d1d1d1;

    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
}

.flex-item{
    font-size: 4rem;
    font-weight: 800;
    background-color: greenyellow;
    margin: 3rem;
    padding: 6rem;
    border: solid red;


}